// breakpoints
$xs: 375px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1680px;
$xxl: 2000px;

// color
$font-color: #404040;
$font-color-light: #fff;
$black: #000;
$black-2: #232323;
$white: #fff;
$bg-white: #fafafa;
$footer-gray: #f1f1f1;
$g-blue-1: #285f92;
$g-blue-2: #96b1ba;
$g-yellow-1: #f2cc73;
$g-yellow-2: #d5b15a;

// font
$font-family: 'Noto Sans TC', 'Microsoft JhengHei', Roboto, sans-serif;

$h1-size-xxs: 36px;
$h1-size-xs: 36px;
$h1-size-sm: 50px;
$h1-size-lg: 50px;

$h2-size-xxs: 28px;
$h2-size-xs: 28px;
$h2-size-sm: 36px;
$h2-size-lg: 36px;

$h3-size-xxs: 22px;
$h3-size-xs: 22px;
$h3-size-sm: 28px;
$h3-size-lg: 28px;

$h4-size-xxs: 20px;
$h4-size-xs: 20px;
$h4-size-sm: 20px;
$h4-size-lg: 20px;

$p-size-xxs: 18px;
$p-size-xs: 18px;
$p-size-sm: 18px;
$p-size-lg: 18px;

$p-smaller: 15px;
$p-caption: 14px;

$caption-size-xxs: 15px;
$caption-size-xs: 15px;
$caption-size-sm: 15px;
$caption-size-lg: 15px;

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// layout
$container-width-xs: 100%;
$container-width-sm: 530px;
$container-width-lg: 620px;

$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 32px;
$spacing-8: 40px;
$spacing-9: 48px;
$spacing-10: 60px;
$spacing-11: 80px;
$spacing-12: 100px;
$spacing-13: 132px;

// components
$gallery-pic-height: auto;
$gallery-pic-height-sm: 172px;
$gallery-pic-height-md: 238px;
