// .kaikai
// .ilu
// .sisi
// .konck
// .nuuk
// .nasas
// .nasak
// .cack

.glm-map-nav {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;

  .pin {
    opacity: 0;
    transition: 0.5s ease-in-out;
  }

  .kaikai,
  .ilu,
  .sisi,
  .konck,
  .nuuk,
  .nasas,
  .nasak,
  .cack {
    transition: 0.5s ease-in-out;
  }

  &--step-1,
  &--step-2,
  &--step-3,
  &--step-4,
  &--step-5 {
    .island,
    .ilu,
    .konck,
    .nasak,
    .nasas {
      opacity: 0;
    }

    .pin {
      opacity: 1;
    }
  }

  &--step-0 {
    // fade in all pin
  }

  &--step-1 {
    // zoom in
    // shift right
    // fade out some pin

    transform: scale(2);
    transform-origin: 10% 70%;

    .ilu,
    .sisi,
    .konck,
    .nuuk,
    .nasas,
    .nasak,
    .cack {
      opacity: 0;
    }
  }

  &--step-2 {
    // shift down
    // fade out sisi

    transform: scale(2);
    transform-origin: 10% 60%;

    .ilu,
    .konck,
    .nuuk,
    .nasas,
    .nasak,
    .cack {
      opacity: 0;
    }
  }

  &--step-3 {
    // shift to nuuk

    .ilu,
    .konck,
    .nuuk,
    .nasas,
    .nasak {
      opacity: 0;
    }
  }

  &--step-4 {
    // zoom out
    // shift down nuuk

    transform: scale(1.5);
    transform-origin: 40% 70%;

    .ilu,
    .konck,
    .nuuk,
    .nasas,
    .nasak {
      opacity: 0;
    }
  }

  &--step-5 {
    transform: scale(2);
    transform-origin: 40% 80%;

    .kaikai,
    .ilu,
    .sisi,
    .konck,
    .nasas,
    .nasak {
      opacity: 0;
    }

    svg {
      opacity: 1;
    }
  }
}
